@model IEnumerable<ContractProcessingApp.Models.ServiceRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequeustCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestLocality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalLocationInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeNullableProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSpanProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleInitial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequeustCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestLocality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalLocationInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeProperty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeNullableProperty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSpanProperty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceRequestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceRequestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceRequestID })
        </td>
    </tr>
}

</table>
